In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('E Commerce Dataset.xlsx')

exploring the data

In [4]:
df.tail(10)

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
5620,55621,0,3.0,Mobile Phone,1,35.0,Credit Card,Female,4.0,5,Mobile Phone,5,Single,3,0,15.0,1.0,2.0,5.0,162.85
5621,55622,1,14.0,Mobile Phone,3,35.0,E wallet,Male,3.0,5,Fashion,5,Married,6,1,14.0,3.0,NaN,1.0,233.54
5622,55623,0,13.0,Mobile Phone,3,31.0,E wallet,Female,3.0,5,Grocery,1,Married,2,0,12.0,4.0,NaN,7.0,245.31
5623,55624,0,5.0,Computer,1,12.0,Credit Card,Male,4.0,4,Laptop & Accessory,5,Single,2,0,20.0,2.0,2.0,NaN,224.36
5624,55625,0,1.0,Mobile Phone,3,12.0,UPI,Female,2.0,5,Mobile Phone,3,Single,2,0,19.0,2.0,2.0,1.0,154.66
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,224.91
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [6]:
df.describe()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5366.000000,5630.000000,5379.000000,5375.000000,5630.000000,5630.000000,5630.000000,5630.000000,5365.000000,5374.000000,5372.000000,5323.000000,5630.000000
mean,52815.500000,0.168384,10.189899,1.654707,15.639896,2.931535,3.688988,3.066785,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.223030
std,1625.385339,0.374240,8.557241,0.915389,8.531475,0.721926,1.023999,1.380194,2.583586,0.451408,3.675485,1.894621,2.939680,3.654433,49.207036
min,50001.000000,0.000000,0.000000,1.000000,5.000000,0.000000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,51408.250000,0.000000,2.000000,1.000000,9.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.770000
50%,52815.500000,0.000000,9.000000,1.000000,14.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.280000
75%,54222.750000,0.000000,16.000000,3.000000,20.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.392500
max,55630.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,324.990000

handling missing data
- The null values were replaced with the mean values of the respective columns

In [8]:
 df.loc[df['OrderAmountHikeFromlastYear'].isnull()]

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
10,50011,1,4.0,Mobile Phone,1,18.0,Cash on Delivery,Female,2.0,3,Others,3,Divorced,2,0,NaN,9.0,15.0,8.0,295.45
40,50041,0,23.0,Mobile Phone,1,17.0,Debit Card,Female,2.0,3,Others,4,Single,4,0,NaN,2.0,4.0,4.0,299.26
65,50066,0,25.0,Mobile Phone,1,6.0,Debit Card,Male,3.0,4,Others,3,Divorced,1,0,NaN,1.0,11.0,9.0,299.99
106,50107,0,15.0,Mobile Phone,1,10.0,Cash on Delivery,Male,2.0,3,Others,2,Divorced,2,0,NaN,0.0,11.0,15.0,292.32
108,50109,0,23.0,Mobile Phone,3,6.0,Credit Card,Female,3.0,3,Others,2,Married,4,0,NaN,1.0,1.0,6.0,295.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5534,55535,0,61.0,Mobile Phone,3,28.0,Debit Card,Female,4.0,4,Grocery,1,Married,6,1,NaN,1.0,2.0,1.0,303.75
5537,55538,0,23.0,Computer,1,9.0,Debit Card,Male,3.0,4,Others,1,Married,5,0,NaN,5.0,5.0,4.0,316.61
5561,55562,0,29.0,Mobile Phone,2,33.0,UPI,Male,4.0,2,Others,4,Married,6,1,NaN,2.0,2.0,5.0,321.36
5597,55598,0,13.0,Computer,1,16.0,Debit Card,Male,3.0,4,Others,1,Single,4,0,NaN,2.0,2.0,4.0,319.31
5603,55604,0,16.0,Mobile Phone,1,9.0,Debit Card,Male,3.0,4,Others,3,Married,7,0,NaN,1.0,5.0,15.0,313.80

In [9]:
df.isnull().sum()

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [10]:
df['Tenure'] = df.Tenure.fillna(df['Tenure'].mean())

In [11]:
df['WarehouseToHome'] = df.Tenure.fillna(df['WarehouseToHome'].mean())

In [12]:
df['HourSpendOnApp'] = df.Tenure.fillna(df['HourSpendOnApp'].mean())

In [13]:
df['OrderAmountHikeFromlastYear'] = df.Tenure.fillna(df['OrderAmountHikeFromlastYear'].mean())

In [14]:
df['CouponUsed'] = df.Tenure.fillna(df['CouponUsed'].mean())

In [16]:
df['OrderCount'] = df.Tenure.fillna(df['OrderCount'].mean())

In [17]:
df['DaySinceLastOrder'] = df.Tenure.fillna(df['DaySinceLastOrder'].mean())

In [18]:
df[df['WarehouseToHome'] == df['WarehouseToHome'].max()]

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
5534,55535,0,61.0,Mobile Phone,3,61.0,Debit Card,Female,61.0,4,Grocery,1,Married,6,1,61.0,61.0,61.0,61.0,303.75

In [19]:
df[df['CouponUsed'] == df['CouponUsed'].max()]

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
5534,55535,0,61.0,Mobile Phone,3,61.0,Debit Card,Female,61.0,4,Grocery,1,Married,6,1,61.0,61.0,61.0,61.0,303.75

In [20]:
df[df['Tenure'] == df['Tenure'].max()]

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
5534,55535,0,61.0,Mobile Phone,3,61.0,Debit Card,Female,61.0,4,Grocery,1,Married,6,1,61.0,61.0,61.0,61.0,303.75

In [21]:
mean_tenure = df['Tenure'].mean()
df['Tenure'] = df['Tenure'].replace(50.0, 10)

In [22]:
 df['Tenure'].mean()

10.182794570643795

In [23]:
 df.loc[df['OrderCount'].isnull()]

Empty DataFrame
Columns: [CustomerID, Churn, Tenure, PreferredLoginDevice, CityTier, WarehouseToHome, PreferredPaymentMode, Gender, HourSpendOnApp, NumberOfDeviceRegistered, PreferedOrderCat, SatisfactionScore, MaritalStatus, NumberOfAddress, Complain, OrderAmountHikeFromlastYear, CouponUsed, OrderCount, DaySinceLastOrder, CashbackAmount]
Index: []

In [25]:
df['group'] = pd.cut(df['Tenure'],bins = range(0,62,10),right=False, labels = ['1-10', '11-20', '21-30', '31-40', '41-50', '51-60'])
df[df['group'].isna()]

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,...,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount,group
2719,52720,0,60.0,Mobile Phone,3,60.0,Debit Card,Female,60.0,3,...,1,Married,5,1,60.0,60.0,60.0,60.0,278.75,NaN
5534,55535,0,61.0,Mobile Phone,3,61.0,Debit Card,Female,61.0,4,...,1,Married,6,1,61.0,61.0,61.0,61.0,303.75,NaN

In [26]:
df.groupby(['group','Churn'])['Churn'].count()

C:\Users\Rango\AppData\Local\Temp\ipykernel_2716\2259423609.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['group','Churn'])['Churn'].count()

group  Churn
1-10   0        2140
       1         741
11-20  0        1707
       1         181
21-30  0         717
       1          26
31-40  0         115
       1           0
41-50  0           0
       1           0
51-60  0           1
       1           0
Name: Churn, dtype: int64

>**churn is higher in tensure group(1-10)**

In [31]:
df.groupby(['group','PreferredPaymentMode'])['PreferredPaymentMode'].count()

C:\Users\Rango\AppData\Local\Temp\ipykernel_2716\843693150.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['group','PreferredPaymentMode'])['PreferredPaymentMode'].count()

group  PreferredPaymentMode
1-10   CC                       140
       COD                      240
       Cash on Delivery          36
       Credit Card              761
       Debit Card              1162
       E wallet                 325
       UPI                      217
11-20  CC                       120
       COD                       83
       Cash on Delivery          69
       Credit Card              451
       Debit Card               818
       E wallet                 184
       UPI                      163
21-30  CC                        10
       COD                       42
       Cash on Delivery          34
       Credit Card              258
       Debit Card               280
       E wallet                  87
       UPI                       32
31-40  CC                         3
       COD                        0
       Cash on Delivery          10
       Credit Card               31
       Debit Card                51
       E wallet                  18
       UPI                        2
41-50  CC                         0
       COD                        0
       Cash on Delivery           0
       Credit Card                0
       Debit Card                 0
       E wallet                   0
       UPI                        0
51-60  CC                         0
       COD                        0
       Cash on Delivery           0
       Credit Card                0
       Debit Card                 1
       E wallet                   0
       UPI                        0
Name: PreferredPaymentMode, dtype: int64

> credit cards are the most used, then the debit cards

In [38]:
df['PreferredLoginDevice'] = df['PreferredLoginDevice'].replace('Mobile Phone','Phone')

I merged the fields phone and mobile phone into phone.

In [45]:
count = df.groupby(['PreferredLoginDevice','Churn'])['Churn'].count()
percentage = (count / count.groupby(level=0).transform('sum')) * 100
percentage

PreferredLoginDevice  Churn
Computer              0        80.171359
                      1        19.828641
Phone                 0        84.384384
                      1        15.615616
Name: Churn, dtype: float64

> computer users who churns is higher than the phone users by 4%

In [52]:
count

PreferredLoginDevice  Churn
Computer              0        1310
                      1         324
Phone                 0        3372
                      1         624
Name: Churn, dtype: int64

In [55]:
city_tier_count = df.groupby(['CityTier','Churn'])['Churn'].count()
city_tier_count

CityTier  Churn
1         0        3134
          1         532
2         0         194
          1          48
3         0        1354
          1         368
Name: Churn, dtype: int64

In [56]:
city_tier_percentage = (city_tier_count / city_tier_count.groupby(level=0).transform('sum')) * 100
city_tier_percentage

CityTier  Churn
1         0        85.488271
          1        14.511729
2         0        80.165289
          1        19.834711
3         0        78.629501
          1        21.370499
Name: Churn, dtype: float64

The **churn rate** is higher among new customers, highlighting the need to improve retention strategies, such as enhancing the user experience and offering incentives.  

Credit cards are the most used, followed by debit cards. This can be leveraged to enhance promotions related to payment methods.

In [59]:
df['WarehouseToHome'].value_counts()

WarehouseToHome
1.000000     690
0.000000     508
10.189899    264
8.000000     263
9.000000     247
7.000000     221
10.000000    213
5.000000     204
4.000000     203
3.000000     195
11.000000    194
6.000000     183
12.000000    182
13.000000    181
14.000000    176
2.000000     167
15.000000    159
16.000000    149
19.000000    140
18.000000    123
20.000000    109
17.000000    106
23.000000     89
21.000000     84
22.000000     76
24.000000     75
28.000000     70
30.000000     66
27.000000     66
26.000000     60
25.000000     59
29.000000     55
31.000000     49
50.000000      1
60.000000      1
51.000000      1
61.000000      1
Name: count, dtype: int64

In [60]:
df['WarehouseToHome_group'] = pd.cut(df['WarehouseToHome'],bins = range(0,62,10),right=False, labels = ['1-10', '11-20', '21-30', '31-40', '41-50', '51-60'])
df['WarehouseToHome_group']

0        1-10
1       11-20
2       11-20
3        1-10
4        1-10
        ...
5625    11-20
5626    11-20
5627     1-10
5628    21-30
5629     1-10
Name: WarehouseToHome_group, Length: 5630, dtype: category
Categories (6, object): ['1-10' < '11-20' < '21-30' < '31-40' < '41-50' < '51-60']

In [62]:
WarehouseToHome_count = df.groupby(['WarehouseToHome_group','Churn'])['Churn'].count()
WarehouseToHome_count

C:\Users\Rango\AppData\Local\Temp\ipykernel_2716\1399979637.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  WarehouseToHome_count = df.groupby(['WarehouseToHome_group','Churn'])['Churn'].count()

WarehouseToHome_group  Churn
1-10                   0        2140
                       1         741
11-20                  0        1706
                       1         181
21-30                  0         717
                       1          26
31-40                  0         115
                       1           0
41-50                  0           0
                       1           0
51-60                  0           2
                       1           0
Name: Churn, dtype: int64

In [63]:
WarehouseToHome_percentage = (WarehouseToHome_count / WarehouseToHome_count.groupby(level=0).transform('sum')) * 100
WarehouseToHome_percentage

C:\Users\Rango\AppData\Local\Temp\ipykernel_2716\528367272.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  WarehouseToHome_percentage = (WarehouseToHome_count / WarehouseToHome_count.groupby(level=0).transform('sum')) * 100

WarehouseToHome_group  Churn
1-10                   0         74.279764
                       1         25.720236
11-20                  0         90.408055
                       1          9.591945
21-30                  0         96.500673
                       1          3.499327
31-40                  0        100.000000
                       1          0.000000
41-50                  0               NaN
                       1               NaN
51-60                  0        100.000000
                       1          0.000000
Name: Churn, dtype: float64

The shorter the distance to the warehouse, the higher the churn rate.

In [66]:
PreferredPaymentMode_count = df.groupby(['PreferredPaymentMode','Churn'])['Churn'].count()
PreferredPaymentMode_count

PreferredPaymentMode  Churn
CC                    0         214
                      1          59
COD                   0         260
                      1         105
Cash on Delivery      0         126
                      1          23
Credit Card           0        1308
                      1         193
Debit Card            0        1958
                      1         356
E wallet              0         474
                      1         140
UPI                   0         342
                      1          72
Name: Churn, dtype: int64

In [67]:
PreferredPaymentMode_percentage = ( PreferredPaymentMode_count / PreferredPaymentMode_count.groupby(level=0).transform('sum')) * 100
PreferredPaymentMode_percentage

PreferredPaymentMode  Churn
CC                    0        78.388278
                      1        21.611722
COD                   0        71.232877
                      1        28.767123
Cash on Delivery      0        84.563758
                      1        15.436242
Credit Card           0        87.141905
                      1        12.858095
Debit Card            0        84.615385
                      1        15.384615
E wallet              0        77.198697
                      1        22.801303
UPI                   0        82.608696
                      1        17.391304
Name: Churn, dtype: float64

Customers who use cash payments have the highest churn rate, while credit card users have the lowest. However, this difference may not be significant, as most cash-paying customers are satisfied with the service, and the order volume is nearly the same for both groups

In [72]:
PreferredPaymentMode_percentage_sorted = PreferredPaymentMode_percentage.sort_values(ascending=False)
PreferredPaymentMode_percentage_sorted

PreferredPaymentMode  Churn
Credit Card           0        87.141905
Debit Card            0        84.615385
Cash on Delivery      0        84.563758
UPI                   0        82.608696
CC                    0        78.388278
E wallet              0        77.198697
COD                   0        71.232877
                      1        28.767123
E wallet              1        22.801303
CC                    1        21.611722
UPI                   1        17.391304
Cash on Delivery      1        15.436242
Debit Card            1        15.384615
Credit Card           1        12.858095
Name: Churn, dtype: float64

In [75]:
warehouse_to_paymentmode_count = df.groupby(['WarehouseToHome_group','PreferredPaymentMode'])['PreferredPaymentMode'].count()
warehouse_to_paymentmode_count

C:\Users\Rango\AppData\Local\Temp\ipykernel_2716\1817949444.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  warehouse_to_paymentmode_count = df.groupby(['WarehouseToHome_group','PreferredPaymentMode'])['PreferredPaymentMode'].count()

WarehouseToHome_group  PreferredPaymentMode
1-10                   CC                       140
                       COD                      240
                       Cash on Delivery          36
                       Credit Card              761
                       Debit Card              1162
                       E wallet                 325
                       UPI                      217
11-20                  CC                       120
                       COD                       83
                       Cash on Delivery          69
                       Credit Card              451
                       Debit Card               817
                       E wallet                 184
                       UPI                      163
21-30                  CC                        10
                       COD                       42
                       Cash on Delivery          34
                       Credit Card              258
                       Debit Card               280
                       E wallet                  87
                       UPI                       32
31-40                  CC                         3
                       COD                        0
                       Cash on Delivery          10
                       Credit Card               31
                       Debit Card                51
                       E wallet                  18
                       UPI                        2
41-50                  CC                         0
                       COD                        0
                       Cash on Delivery           0
                       Credit Card                0
                       Debit Card                 0
                       E wallet                   0
                       UPI                        0
51-60                  CC                         0
                       COD                        0
                       Cash on Delivery           0
                       Credit Card                0
                       Debit Card                 2
                       E wallet                   0
                       UPI                        0
Name: PreferredPaymentMode, dtype: int64

In [77]:
cash_df = df[df['PreferredPaymentMode'] == 'Cash on Delivery']
cash_df

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,...,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount,group,WarehouseToHome_group
6,50007,1,10.189899,Phone,3,10.189899,Cash on Delivery,Male,10.189899,3,...,Divorced,4,0,10.189899,10.189899,10.189899,10.189899,120.86,11-20,11-20
10,50011,1,4.000000,Phone,1,4.000000,Cash on Delivery,Female,4.000000,3,...,Divorced,2,0,4.000000,4.000000,4.000000,4.000000,295.45,1-10,1-10
92,50093,1,10.189899,Phone,1,10.189899,Cash on Delivery,Male,10.189899,3,...,Single,1,0,10.189899,10.189899,10.189899,10.189899,120.58,11-20,11-20
106,50107,0,15.000000,Phone,1,15.000000,Cash on Delivery,Male,15.000000,3,...,Divorced,2,0,15.000000,15.000000,15.000000,15.000000,292.32,11-20,11-20
126,50127,0,12.000000,Computer,1,12.000000,Cash on Delivery,Female,12.000000,3,...,Single,1,0,12.000000,12.000000,12.000000,12.000000,209.38,11-20,11-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5385,55386,0,19.000000,Phone,1,19.000000,Cash on Delivery,Female,19.000000,5,...,Single,3,0,19.000000,19.000000,19.000000,19.000000,292.04,11-20,11-20
5407,55408,0,5.000000,Phone,3,5.000000,Cash on Delivery,Male,5.000000,4,...,Married,3,0,5.000000,5.000000,5.000000,5.000000,208.46,1-10,1-10
5435,55436,0,25.000000,Phone,1,25.000000,Cash on Delivery,Female,25.000000,4,...,Married,4,0,25.000000,25.000000,25.000000,25.000000,256.16,21-30,21-30
5460,55461,0,8.000000,Phone,3,8.000000,Cash on Delivery,Male,8.000000,2,...,Married,3,0,8.000000,8.000000,8.000000,8.000000,192.99,1-10,1-10
5487,55488,0,20.000000,Phone,3,20.000000,Cash on Delivery,Female,20.000000,2,...,Married,4,0,20.000000,20.000000,20.000000,20.000000,257.25,21-30,21-30

In [79]:
df['PreferredPaymentMode'] = df['PreferredPaymentMode'].replace('COD','Cash on Delivery')

In [82]:
SatisfactionScore1_count = cash_df.groupby('SatisfactionScore')['SatisfactionScore'].count()
SatisfactionScore1_count

SatisfactionScore
1    27
2    15
3    41
4    36
5    30
Name: SatisfactionScore, dtype: int64

In [83]:
SatisfactionScore2_count = cash_df.groupby('OrderCount')['OrderCount'].count()
SatisfactionScore2_count.sort_values(ascending=False)

OrderCount
10.189899    24
19.000000    10
9.000000      8
8.000000      7
0.000000      6
30.000000     6
5.000000      6
10.000000     6
24.000000     6
23.000000     6
1.000000      6
20.000000     6
14.000000     5
25.000000     4
22.000000     4
16.000000     4
18.000000     4
13.000000     4
12.000000     4
11.000000     4
31.000000     4
27.000000     3
28.000000     3
4.000000      3
17.000000     2
15.000000     2
29.000000     2
Name: OrderCount, dtype: int64

In [85]:
SatisfactionScore3_count = Credit_Card_df.groupby('OrderCount')['OrderCount'].count()
SatisfactionScore3_count.sort_values(ascending=False)

NameError: name 'Credit_Card_df' is not defined

In [ ]:
Credit_Card_df = df[df['PreferredPaymentMode'] == 'Credit Card']
Credit_Card_df

In [ ]:
Gender_count = df.groupby(['Gender','Churn'])['Churn'].count()
Gender_count

In [ ]:
Gender_percentage = ( Gender_count / Gender_count.groupby(level=0).transform('sum')) * 100
Gender_percentage

In [ ]:
Gender_count2 = df.groupby(['Gender','Complain'])['Complain'].count()
Gender_count2

In [ ]:
Gender2_percentage = ( Gender_count2 / Gender_count2.groupby(level=0).transform('sum')) * 100
Gender2_percentage

In [92]:
Gender_count3 = df.groupby(['Gender','PreferredLoginDevice'])['PreferredLoginDevice'].count()
Gender_count3

Gender  PreferredLoginDevice
Female  Computer                 632
        Phone                   1614
Male    Computer                1002
        Phone                   2382
Name: PreferredLoginDevice, dtype: int64

In [93]:
Gender3_percentage = ( Gender_count3 / Gender_count3.groupby(level=0).transform('sum')) * 100
Gender3_percentage

Gender  PreferredLoginDevice
Female  Computer                28.138914
        Phone                   71.861086
Male    Computer                29.609929
        Phone                   70.390071
Name: PreferredLoginDevice, dtype: float64

Male customers represent the majority and they have a higher churn rate, while female customers have a higher complaint rate.

In [97]:
HourSpendOnApp_count = df.groupby('Churn')['HourSpendOnApp'].sum()
HourSpendOnApp_count

Churn
0    53613.751584
1     3755.381849
Name: HourSpendOnApp, dtype: float64

In [99]:
HourSpendOnApp_count2 = df.groupby('Churn')['HourSpendOnApp'].count()
HourSpendOnApp_count2

Churn
0    4682
1     948
Name: HourSpendOnApp, dtype: int64

In [101]:
HourSpendOnApp_count2/HourSpendOnApp_count * 100

Churn
0     8.732834
1    25.243771
Name: HourSpendOnApp, dtype: float64

Churning customers spend significantly less time on the website on average, approximately 50,000 hours less than active users, which may indicate lower engagement or weaker connection to the service.

In [104]:
NumberOfDeviceRegistered_count5 = df.groupby(['NumberOfDeviceRegistered','Churn']).agg(count=('Churn','count'),sum=('HourSpendOnApp','sum'))
NumberOfDeviceRegistered_count5

                                count           sum
NumberOfDeviceRegistered Churn
1                        0        213   2214.468692
                         1         22     87.379799
2                        0        250   2810.379799
                         1         26     94.000000
3                        0       1445  16314.167723
                         1        254   1199.355572
4                        0       1985  23231.595975
                         1        392   1530.367685
5                        0        683   7847.139396
                         1        198    674.278792
6                        0        106   1196.000000
                         1         56    170.000000

In [106]:
NumberOfDeviceRegistered_percentage = ( NumberOfDeviceRegistered_count5 / NumberOfDeviceRegistered_count5.groupby(level=0).transform('sum')) * 100
NumberOfDeviceRegistered_percentage

                                    count        sum
NumberOfDeviceRegistered Churn
1                        0      90.638298  96.203929
                         1       9.361702   3.796071
2                        0      90.579710  96.763509
                         1       9.420290   3.236491
3                        0      85.050029  93.151832
                         1      14.949971   6.848168
4                        0      83.508624  93.819684
                         1      16.491376   6.180316
5                        0      77.525539  92.087247
                         1      22.474461   7.912753
6                        0      65.432099  87.554905
                         1      34.567901  12.445095

The churn rate increases with the number of devices used, possibly due to login issues, differences in features across devices, or user experience problems. For example, a useful feature available on laptops but missing on mobile devices could frustrate users.

In [109]:
Complain1_count = df.groupby(['Complain','Churn'])['Churn'].count()
Complain1_count

Complain  Churn
0         0        3586
          1         440
1         0        1096
          1         508
Name: Churn, dtype: int64

In [111]:
Complain1_percentage = ( Complain1_count / Complain1_count.groupby(level=0).transform('sum')) * 100
Complain1_percentage

Complain  Churn
0         0        89.071038
          1        10.928962
1         0        68.329177
          1        31.670823
Name: Churn, dtype: float64

In [113]:
CashbackAmount_sum = df.groupby('Churn')['CashbackAmount'].sum()
CashbackAmount_sum

Churn
0    845734.02
1    152031.64
Name: CashbackAmount, dtype: float64

In [115]:
CashbackAmount_count = df.groupby('Churn')['CashbackAmount'].count()
CashbackAmount_count

Churn
0    4682
1     948
Name: CashbackAmount, dtype: int64

In [117]:
CashbackAmount_count / CashbackAmount_sum * 100

Churn
0    0.553602
1    0.623554
Name: CashbackAmount, dtype: float64

In [121]:
df.groupby('NumberOfDeviceRegistered')['HourSpendOnApp'].sum()

NumberOfDeviceRegistered
1     2301.848490
2     2904.379799
3    17513.523295
4    24761.963660
5     8521.418189
6     1366.000000
Name: HourSpendOnApp, dtype: float64

In [123]:
df['CouponUsed_group'] = pd.cut(df['CouponUsed'],bins = range(0,62,10),right=False, labels = ['1-10', '11-20', '21-30', '31-40', '41-50', '51-60'])
df['CouponUsed_group']

0        1-10
1       11-20
2       11-20
3        1-10
4        1-10
        ...
5625    11-20
5626    11-20
5627     1-10
5628    21-30
5629     1-10
Name: CouponUsed_group, Length: 5630, dtype: category
Categories (6, object): ['1-10' < '11-20' < '21-30' < '31-40' < '41-50' < '51-60']

In [125]:
df.groupby('CouponUsed_group')['CashbackAmount'].sum()

C:\Users\Rango\AppData\Local\Temp\ipykernel_2716\2144029197.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('CouponUsed_group')['CashbackAmount'].sum()

CouponUsed_group
1-10     466247.67
11-20    339913.50
21-30    166554.39
31-40     24144.60
41-50         0.00
51-60       323.00
Name: CashbackAmount, dtype: float64

Churning customers rarely use coupons, possibly because they don’t find them valuable enough. Coupon usage also decreases as the number of orders increases, especially after 30 orders, due to their fixed value. This can be addressed by offering personalized coupons to at-risk customers and launching loyalty programs that encourage continued ordering, such as increasing rewards or providing exclusive offers for high-value customers.

In [128]:
MaritalStatus_count = df.groupby(['Churn','MaritalStatus'])['MaritalStatus'].count()
MaritalStatus_count

Churn  MaritalStatus
0      Divorced          724
       Married          2642
       Single           1316
1      Divorced          124
       Married           344
       Single            480
Name: MaritalStatus, dtype: int64

In [130]:
MaritalStatus_Churn_percentage = (MaritalStatus_count / MaritalStatus_count.groupby(level=0).transform('sum')) * 100
MaritalStatus_Churn_percentage

Churn  MaritalStatus
0      Divorced         15.463477
       Married          56.428877
       Single           28.107646
1      Divorced         13.080169
       Married          36.286920
       Single           50.632911
Name: MaritalStatus, dtype: float64

In [132]:
df.replace('Mobile Phone','Mobile',inplace = True)

In [134]:
PreferedOrderCat_count = df.groupby(['MaritalStatus','PreferedOrderCat'])['PreferedOrderCat'].count()
PreferedOrderCat_count

MaritalStatus  PreferedOrderCat
Divorced       Fashion                126
               Grocery                 82
               Laptop & Accessory     296
               Mobile                 296
               Others                  48
Married        Fashion                466
               Grocery                224
               Laptop & Accessory    1134
               Mobile                1006
               Others                 156
Single         Fashion                234
               Grocery                104
               Laptop & Accessory     620
               Mobile                 778
               Others                  60
Name: PreferedOrderCat, dtype: int64

In [136]:
PreferedOrderCat_count_percentage = (PreferedOrderCat_count / PreferedOrderCat_count.groupby(level=0).transform('sum')) * 100
PreferedOrderCat_count_percentage

MaritalStatus  PreferedOrderCat
Divorced       Fashion               14.858491
               Grocery                9.669811
               Laptop & Accessory    34.905660
               Mobile                34.905660
               Others                 5.660377
Married        Fashion               15.606162
               Grocery                7.501674
               Laptop & Accessory    37.977227
               Mobile                33.690556
               Others                 5.224380
Single         Fashion               13.028953
               Grocery                5.790646
               Laptop & Accessory    34.521158
               Mobile                43.318486
               Others                 3.340757
Name: PreferedOrderCat, dtype: float64

The churn rate among single customers is very high, with their purchases mainly focused on laptop accessories and mobile phones, followed by fashion, which interests them as much as divorced customers and more than married ones. Meanwhile, divorced customers have the lowest churn rate.

In [139]:
PreferedOrderCat_by_Gender_count = df.groupby(['Gender','PreferedOrderCat'])['PreferedOrderCat'].count()
PreferedOrderCat_by_Gender_count

Gender  PreferedOrderCat
Female  Fashion                354
        Grocery                198
        Laptop & Accessory     844
        Mobile                 764
        Others                  86
Male    Fashion                472
        Grocery                212
        Laptop & Accessory    1206
        Mobile                1316
        Others                 178
Name: PreferedOrderCat, dtype: int64

In [141]:
PreferedOrderCat_by_Gender_count_percentage = (PreferedOrderCat_by_Gender_count / PreferedOrderCat_by_Gender_count.groupby(level=0).transform('sum')) * 100
PreferedOrderCat_by_Gender_count_percentage

Gender  PreferedOrderCat
Female  Fashion               15.761354
        Grocery                8.815672
        Laptop & Accessory    37.577916
        Mobile                34.016028
        Others                 3.829029
Male    Fashion               13.947991
        Grocery                6.264775
        Laptop & Accessory    35.638298
        Mobile                38.888889
        Others                 5.260047
Name: PreferedOrderCat, dtype: float64

In [143]:
Complain_by_MaritalStatus_count = df.groupby(['Complain','MaritalStatus'])['MaritalStatus'].count()
Complain_by_MaritalStatus_count

Complain  MaritalStatus
0         Divorced          600
          Married          2140
          Single           1286
1         Divorced          248
          Married           846
          Single            510
Name: MaritalStatus, dtype: int64

In [145]:
Complain_by_MaritalStatus_count_percentage = (Complain_by_MaritalStatus_count / Complain_by_MaritalStatus_count.groupby(level=0).transform('sum')) * 100
Complain_by_MaritalStatus_count_percentage

Complain  MaritalStatus
0         Divorced         14.903130
          Married          53.154496
          Single           31.942375
1         Divorced         15.461347
          Married          52.743142
          Single           31.795511
Name: MaritalStatus, dtype: float64

In [147]:
df.groupby('MaritalStatus')['CouponUsed'].sum()

MaritalStatus
Divorced     9302.026277
Married     32361.686918
Single      15705.420239
Name: CouponUsed, dtype: float64

kpis : 
1. Customer Churn Rate
2. Average Customer Tenure
3. Net Promoter Score (NPS)
4. Repeat Purchase Rate
8. Customer Feedback and Complaint Rates).

In [150]:
df.describe()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000
mean,52815.500000,0.168384,10.182795,1.654707,10.189899,10.189899,3.688988,3.066785,4.214032,0.284902,10.189899,10.189899,10.189899,10.189899,177.223030
std,1625.385339,0.374240,8.337294,0.915389,8.354164,8.354164,1.023999,1.380194,2.583586,0.451408,8.354164,8.354164,8.354164,8.354164,49.207036
min,50001.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,51408.250000,0.000000,3.000000,1.000000,3.000000,3.000000,3.000000,2.000000,2.000000,0.000000,3.000000,3.000000,3.000000,3.000000,145.770000
50%,52815.500000,0.000000,9.000000,1.000000,9.000000,9.000000,4.000000,3.000000,3.000000,0.000000,9.000000,9.000000,9.000000,9.000000,163.280000
75%,54222.750000,0.000000,15.000000,3.000000,15.000000,15.000000,4.000000,4.000000,6.000000,1.000000,15.000000,15.000000,15.000000,15.000000,196.392500
max,55630.000000,1.000000,61.000000,3.000000,61.000000,61.000000,6.000000,5.000000,22.000000,1.000000,61.000000,61.000000,61.000000,61.000000,324.990000

In [152]:
# Customer Churn Rate
all_customars = len(df)
churn_customars = df['Churn'].sum()
Customer_Churn_Rate = (churn_customars/ all_customars * 100).round(2)
Customer_Churn_Rate

16.84

In [154]:
#Average Customer Tenure
avg_customar_tenure = (df['Tenure'].sum() / df['CustomerID'].count()).round(2)
avg_customar_tenure

10.18

In [156]:
#Net Promoter Score (NPS)
Detractors = df[(df['SatisfactionScore'] == 1) | (df['SatisfactionScore'] == 2)]['CustomerID'].count()
Detractors

1750

In [158]:
promoters = df[(df['SatisfactionScore'] == 4) | (df['SatisfactionScore'] == 5)]['CustomerID'].count()
promoters

2182

In [160]:
Detractors_per = round(Detractors / df['CustomerID'].count() * 100 , 0)
Detractors_per

31.0

A significant 31% of customers are dissatisfied with the service.

In [163]:
promoters_per = round(promoters / df['CustomerID'].count() * 100 , 0)
promoters_per

39.0

In [165]:
Net_Promoter_Score = (promoters_per - Detractors_per ) .round(0)
Net_Promoter_Score

8.0

In [167]:
# Repeat Purchase Rate
customars_with_more_than_order= df[df['OrderCount'] > 1]['OrderCount'].count()
customars_with_more_than_order

4432

In [169]:
all_customars = df['CustomerID'].count()
all_customars

5630

In [171]:
Repeat_Purchase_Rate = (customars_with_more_than_order / all_customars * 100).round(0)
Repeat_Purchase_Rate

79.0

إذا كانت NPS لديك 8%، فهذا يشير إلى أن لديك أكثر من العملاء الراضين (المروجين) مقارنة بالمنتقدين. ولكن النسبة ليست مرتفعة جدًا، مما يعني أنه لا يزال هناك مجال لتحسين تجربة العملاء وتقليل الانتقادات.

In [174]:
# Customer Feedback and Complaint Rates
customar_feedback = df[df['Complain'] == 1]['Complain'].count()
customar_feedback

1604

In [176]:
customar_feedback_rate = (customar_feedback/ all_customars * 100).round(0)
customar_feedback_rate

28.0